<!DOCTYPE html>
<html>
<head>
  <title>Peladas das Quintas Feiras</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
</head>
<body class="main-bg">  <header class="header">
    <div class="logo-area">
      <img src="/logo.svg" alt="Logo" class="logo-image">
      <span class="logo-text">Peladas das Quintas Feiras</span>
    </div>    <nav class="navbar">
      <a href="/" class="nav-link">Jogos</a>
      <a href="/jogadores" class="nav-link">Jogadores</a>
      <a href="/convocatoria" class="nav-link">Convocatória</a>
      <a href="/coletes" class="nav-link">Coletes</a>
      <a href="/jogos/novo" class="nav-link">Novo Jogo</a>
      <a href="/estatisticas" class="nav-link">Estatísticas</a>
    </nav>
  </header>
  <main class="container">
    <%- body %>
  </main>
</body>
</html>